html {
    background-color: black;
    color: blanchedalmond;
}

body {
    height: 100vh;
    overflow: hidden;
}

a.mail-link {
    border: 1px dotted blanchedalmond;
    background-color: black;
    padding: 3px;
    position: fixed;
    bottom: 30px;
    left: 30px;
    color: blanchedalmond;
}

a.mail-link:hover {
    color: black;
    padding: 3px;
    position: fixed;
    bottom: 30px;
    left: 30px;
    background-color: blanchedalmond;
}