.bio-container {
  margin-bottom: 80px;
}

.posts-container {
  margin-top: 80px;
}

.publish-date {
  color: #555c80;
  display: inline-block;
  margin: 0;
}

.post-link {
  padding: 0;
  margin: 0;
}

.summary {
  margin-top: 10px;
}

.post {
  margin-bottom: 50px;
}

.value_1 {
  color: #a4a0ca;
}

.value_2 {
  color: #4c41b5;
}

.value_3 {
  color: #3b309a;
}

.marquee {
  top: 0;
  position: fixed;
  overflow: hidden;
  background: #756db7;
  width: 100vw;
  left: 0;
}

.track {
  display: inline-block;
  white-space: nowrap;
  animation: scroll 15s linear infinite;
}

.marquee p {
  display: inline-block;
  text-transform: uppercase;
  font-size: 2em;
  margin: 0 2rem 0 0; /* spacing between phrases */
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-33.33333%);
  }
}