#canvas {
    width: 400px;
    height: 300px;
}

body {
    background-color: #09152b;
    padding: 0;
    max-width: 600px;
    font-size: 14px;
    hyphens: auto;
}

html {
    color: #dee3f0;
    font-family: Consolas, monospace;
}

.code {
    color: #e4a85c;
    background-color: #FFFFFF22;
    font-family: Consolas, Courier New, monospace;
}

.todo {
    opacity: 0.5;
}

p {
    line-height: 150%;
}

a {
    color: #88d;
}

a:visited {
    color: #aad;
}

.quote {
    border-left: 3px solid #dee3f0;
    padding-left: 8px;
    background-color: #252540;
    padding: 5px 5px 5px 8px;
}

.silent-iframe {
    overflow: hidden;
    border: none;
}
