#canvas {
  width: 100%;
  max-width: 400px;
  max-height: 300px;
}

body {
  padding: 10px;
  padding-top: 50px;
  padding-bottom: 80px;
  background-color: #09152b;
  margin: auto;
  max-width: 700px;
  font-size: 1rem;
  hyphens: auto;
}

header {
  margin-bottom: 40px;
}

html {
  color: #dee3f0;
  font-family: sans-serif;
}

h1 {
  font-family: sans-serif;
  margin-top: 40px;
  margin-bottom: 40px;
  font-size: 1.8em;
}

h2 {
  font-family: sans-serif;
  margin-bottom: 20px;
  margin-top: 40px;
  font-size: 1.4em;
}

.code {
  color: #e4a85c;
  background-color: #ffffff22;
  font-family: Andale Mono, Courier New, monospace;
  border-radius: 5px;
  padding: 3px;
  overflow-wrap: anywhere;
}

pre {
  margin: 0;
  white-space: pre-wrap;
}

code {
    font-family: monospace;
}

.code-container {
    background-color: #ffffff05;
    border-radius: 8px;
    padding: 10px;
    font-size: 0.8em;
    line-height: 1.4em;
}

.footnote {
  font-size: 0.8em;
  opacity: 0.9;
}

.todo {
  opacity: 0.5;
}

hr {
  height: 1px;
  border: none;
  background-color: #aad;
  opacity: 0.3;
}

p {
  line-height: 150%;
}

a {
  color: #88d;
}

a:visited {
  color: #aad;
}

.quote {
  border-left: 3px solid #dee3f0;
  border-radius: 3px;
  background-color: #252540;
  padding: 10px 20px;
}

.silent-iframe {
  overflow: hidden;
  border: none;
}
