.key {
    opacity: 0.5;
    width: 2px;
    max-width: 2px;
    display: inline-block;
}

.active {
    opacity: 1.0;
    color: #e4a85c;
}

.sharp {
    width: 1px;
    transform: translateY(-5px);
}
