canvas {
    width: 400px;
    height: 200px;
}

.editor_container {
    position: relative;
    background-color: #ffffff05;
    border-radius: 8px;
    padding-bottom: 0;
    margin: 0;
}

.editor_textarea {
    position: absolute;
    top: 0;
    left: 0;
    padding: 5px;
    margin: 0;

    width: 100%;
    height: 100%;
    box-sizing: border-box;
    bottom: 0;

    border: 0;
    outline: 0;
    overflow: hidden;
    resize: none;

    font-family: Menlo, monospace;
    font-size: 0.8rem;
    line-height: 1.4rem;
    color: transparent;
    caret-color: white;
    background-color: transparent;
}

.editor_draw {
    padding: 5px;
    margin: 0;
    top: 0;
    left: 0;
    pointer-events: none;
    min-height: 1.5rem;
}

#demo {
    background-color: #ffffff05;
    padding: 10px 20px;
    border-radius: 5px;
    border-left: 3px solid #df9754;
}

.editor_span {
    padding: 0;
    margin: 0;
}

.parsed_FUNC_CALL {
    color: #7875fc;
}

.parsed_COMMENT {
    color: #ffffff3d;
}

.parsed_KEYWORD {
    color: #df9754;
}

.parsed_STRING {
    color: #ea84d0;
}

.parsed_KEYWORD_CONST {
    color: #f06b6b;
}

.parsed_NUMBER {
    color: #72c9e3;
}

.error-container > p {
    background-color: #40293e;
    font-family: Menlo, monospace;
    font-size: 0.8em;
    padding: 5px;
    border-radius: 2px;
    border: 1px solid #684848;
    color: #ecc6c6;
}
