.bio-container {
  margin-bottom: 80px;
}

.posts-container {
  margin-top: 80px;
}

.publish-date {
  color: #555c80;
  width: 130px;
  display: inline-block;
  margin: 0;
}

.post-link {
  padding: 0;
  margin: 0;
}

.summary {
  margin-top: 10px;
}

.post {
  margin-bottom: 50px;
}