html {
    background-color: #1a72e4;
    color: rgb(219, 229, 246);
    font-family: sans-serif, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1 {
    font-weight: 500;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

button.secondary {
    font-size: 1em;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    margin: 5px;
    padding: 10px;
    cursor: pointer;
    transition: 0.1s all linear;
}

button.secondary:disabled {
    cursor: auto;
    opacity: 0.2;
}

.target {
    font-size: 3em;
    text-shadow: 4px 4px #1a1a1a7d;
}

.game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.target-container {
    width: 100%;
}

.option-buttons-outer-container {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    width: 210px;
    padding: 10px;
}

.option-button.placeholder:disabled {
    width: 60px;
    height: 60px;
    margin: 5px;
    border: none;
    border-radius: 30px;
    background-color: rgba(0, 0, 0, 1.0);
    cursor: auto;
    color: #ffffff01;
}

.option-button {
    font-size: 1.3em;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    border: none;
    margin: 5px;
    cursor: pointer;
    transition: 0.1s all linear;
}

.option-button:disabled {
    opacity: 0.1;
    font-size: 1.3em;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    margin: 5px;
    cursor: auto;
}

.option-button.selected {
    border-color: #df5b05;
    color: #f0c0a1;
    border-width: 2px;
    background-color: rgb(255 105 0 / 19%);
    border: 1px solid;
}

.operator-buttons-container {
    padding: 10px;
    margin-top: 20px;
    border-radius: 5px;
}

.operator-buttons-container .option-button {
    width: 40px;
    height: 40px;
}

.extra-buttons-container {
    margin-top: 50px;
}