code {
    font-family: monospace;
}

.parsed_TAG {
    color: #7875fc;
}

.parsed_COMMENT {
    color: #ffffff3d;
}

.parsed_KEYWORD {
    color: #d56d0c;
}

.parsed_STRING {
    color: #ea84d0;
}

.parsed_FUNC_CALL {
    color: #7875fc;
}

.parsed_KEYWORD_CONST {
    color: #f06b6b;
}

.parsed_NUMBER {
    color: #72c9e3;
}