canvas {
    width: 400px;
    height: 200px;
    margin: 20px 0;
}

.editor_container {
    position: relative;
    background-color: #ffffff05;
    border-radius: 8px;
    padding-bottom: 0;
    margin: 0;
}

.editor_draw {
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
}

.editor_span {
    padding: 0;
    margin: 0;
}

.parsed_FUNC_CALL {
    color: #7875fc;
}

.parsed_COMMENT {
    color: #ffffff3d;
}

.parsed_KEYWORD {
    color: #df9754;
}

.parsed_STRING {
    color: #ea84d0;
}

.parsed_KEYWORD_CONST {
    color: #f06b6b;
}

.parsed_NUMBER {
    color: #72c9e3;
}