@import url("https://fonts.googleapis.com/css?family=Merriweather");
@import "code.css";

header {
  height: 60px;
  width: 100%;
  max-width: 700px;
  margin: 20px 0;
}

.header__img_container {
  height: 100%;
  margin: 0 0;
}

.header__img {
  height: 80px;
}

body {
  hyphens: auto;
  font-size: 15px;
  line-height: 24px;
  background-color: #fffbe9;
  color: #58564f;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Merriweather", serif;
}

h2 {
  margin-bottom: 0;
  line-height: 28px;
}

.date {
  margin-top: 10px;
  color: #c1b6a0;
}

a {
  color: #5f96c5;
}

a:visited {
  color: #9e9084;
}

main {
  margin: 0;
  padding-top: 40px;
  max-width: 700px;
  width: 100%;
}

blockquote {
  border-left: 5px solid #dad1b2;
  margin: 0;
  padding: 5px 0 5px 20px;
}

blockquote > p {
  margin: 0;
}

.post_summary {
  margin-bottom: 40px;
}

code {
  background-color: #f3e9d6;
  border-radius: 3px;
  padding: 2px;
  color: #3a322c;
}

div.highlight {
  background-color: #f3e9da59;
  border-radius: 3px;
  padding: 2px;
  color: #158fc1;
  overflow-x: auto;
}

pre.highlight {
  margin: 5px;
}

pre.highlight > code {
  background-color: transparent;
}

hr {
  border-width: 0;
  height: 1px;
  background-color: #e4dcc6;
}
