body {
    font-family: 'Monaco', 'Courier New', Courier, monospace;
    font-size: 12px;
    width: 100%;
    max-width: 100%;
    padding: 0;
    margin: 0;
}

table {
    border-spacing: 0;
}

tr {
    border-spacing: 0;
    margin: 0;
    padding: 0;
}

td {
    border-spacing: 0;
    margin: 0;
    padding: 0;
}

th {
    border-spacing: 0;
    margin: 0;
    padding: 0;
}

.celllabel {
    margin-left: 1px;
    border-top: 2px;
    min-width: 50px;
    border-left: 1px solid #445;
    border-top: 1px solid #445;
    position: relative;
    height: 1em;
    max-height: 1em;
    padding: 4px;
    text-align: left;
    background-color: #112;
}

.editcell {
    z-index: 1;
    border-left: 1px solid #445;
    border-top: 1px solid #445;
    position: relative;
    padding: 5px;
    min-width: 80px;
    height: 1em;
}

div.selected {
    z-index: 2;
    position: relative;
    outline: 1px solid #e4a85c;
    color: white;
}

@media (max-width: 600px) {
    body {
        flex-direction: column;
    }
}

#graph {
    padding: 0;
    margin: 0;
    border: 0;
    flex: 4;
    width: 100%;
    box-sizing: border-box;
}

textarea {
    font-family: 'Monaco', 'Courier New', Courier, monospace;
    width: 100%;
    height: auto;
    border: 0;
    border-bottom: 1px solid #546190;
    background-color: #09152b;
    color: white;
}

textarea:focus {
    border-bottom: 1px solid #e4a85c;
    color: white;
    outline: none;
}

::placeholder {
    color: #546190;
}