body {
    width: 100%;
    max-width: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

div {
    padding: 5px;
    outline: 1px solid #667;
    margin-top: 1px;
    margin-left: 1px;
    color: white;
}

tr {
    margin: 0;
    padding: 0;
}

td {
    margin: 0;
    padding: 0;
}

.editcell {
    min-width: 80px;
    height: 1em;
}

div.selected {
    outline: 1px solid #e4a85c;
    color: white;
}

@media (max-width: 600px) {
    body {
        flex-direction: column;
    }
}

#graph {
    padding: 0;
    margin: 0;
    border: 0;
    flex: 4;
    width: 100%;
    box-sizing: border-box;
}

textarea {
    width: 100%;
    border: 0;
    border-bottom: 1px solid #546190;
    background-color: #09152b;
    color: white;
}

textarea:focus {
    border-bottom: 1px solid #e4a85c;
    color: white;
    outline: none;
}

::placeholder {
    color: #546190;
}