<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="description"
      content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}"
    />

    <link rel="icon" href="/res/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="/res/favicon.ico" type="image/x-icon" />

    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/styles.css" />

    <style></style>
  </head>

  <body>
    <header>
      <a href="/"><img class="header__img" src="/res/website_face.png" alt="An interesting abstract drawing of a face." /></a>
    </header>

    <main>
      {{ content }}
    </main>
  </body>
</html>
