---
layout: default
---
<style>
 .post__controls__container {
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: space-between;
     margin-top: 40px;

 }

 #date {
     color: #555555;
 }
</style>


<h2>{{ page.title }}</h2>
<p id="date">{{ page.date | date: "%-d %B %Y"}}</p>
{{ content }}

<div class="post__controls__container">
    {% if page.previous %}
    <a href="{{ page.previous.url }}">← {{ page.previous.title }}</a>
    {% endif %}

    <a href="/">All posts</a>

    {% if page.next %}
    <a href="{{ page.next.url }}">{{ page.next.title }} →</a>
    {% endif %}
</div>
