.post-content {
    min-height: 100vh;
    width: 100%;
    padding: 1.5rem;
}

.section {
    margin-top: 3rem;
}

.alert-example-outer-container .alert-container {
    margin-top: 1rem;
}

.intro-text {
    max-width: 800px;
    background-color;
    border-radius: 0.25rem;
    background-color: #222;
}

.map-container {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    pointer-events: none;
    overflow: hidden;
}

