/*
 * Main CSS for the Hepthal design system. By Craig Wilkinson.
 *
 * Everything is nicely aligned to 1rem. Alignment is important for a sense of
 * snappiness and order, which is appropriate and even essential for the
 * tactical and utilitarian feel of the design system.
 *
 * Animations are fast and snappy, rather than bouncy and loose.
 *
 * The visual grid helps to emphasise the neatness and attention to detail for
 * order. Note that all elements align on the grid in 1rem increments. Using
 * the root size in this manner helps the designer to anchor to a common size
 * unit. One knows that the space between dots of the visual grid is exactly 1
 * rem.
 */

@font-face {
  font-family: 'Monaspace Neon';
  src: url(https://cdn.jsdelivr.net/gh/githubnext/monaspace@v1.000/fonts/webfonts/MonaspaceNeon-Regular.woff) format(woff2);
}

@font-face {
  font-family: 'Monaspace Argon';
  src: url(https://cdn.jsdelivr.net/gh/githubnext/monaspace@v1.000/fonts/webfonts/MonaspaceArgon-Regular.woff) format(woff2);
}

html {
    background-color: #222;
    color: #AAA;
}

body {
    line-height: 2rem;
}

.visual-grid {
    background-image: radial-gradient(circle, #444, 1px, transparent 1px);
    background-size: 1rem 1rem; /* Adjust the size of the dots and spacing */
}

.red {
    color: #C44;
}

.blue {
    color: #44C;
}

h1 {
    font-size: 5rem;
    line-height: 6rem;
}

p, li {
    font-size: 1rem;
    line-height: 2rem;
}

p, h1, h2, h3, h4, h5, h6, li {
  font-family: 'Monaspace Argon', monospace;
}


/* Buttons */
button {
    font-family: 'Monaspace Argon', monospace;
    font-size: 1rem;
    line-height: 1rem;
    height: 3rem;
    padding: 0 1rem;
    cursor: pointer;

    border-radius: 0.25rem;
    border: 1px solid #444;
    color: #AAA;
    background: linear-gradient(#222, #1b1b1b);
}

button:focus {
    outline: 2px solid #F88;
}

/* Inputs */
input {
    font-family: 'Monaspace Argon', monospace;
    font-size: 1rem;
    line-height: 1rem;
    height: 3rem;
    padding: 0 1rem;

    border-radius: 0.25rem;
    border: 1px solid #444;
    color: #AAA;
    background-color: #222;
}

input:focus {
    outline: 2px solid #F88;
}

/* Alerts */
.alert-container {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    font-size: 1rem;
    line-height: 2rem;
    border: 1px solid #444;
    border-radius: 0.25rem;
    background-color: #222;
    padding: 0.5rem 1rem;
    width: fit-content;
}

.alert-container svg {
    position: absolute;
    top: 0;
    left: 0;

    transform: translate(-75%, -75%);
}

.alert-container.filled {
    background-color: #AAA;
    color: #222;
    border-color: #AAA;
}
